.button{
    background-color: var(--softBlue);
    color: var(--white);

    width: 25%;
    display: flex;
    padding: 1rem;
    border-radius: 100px;

    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-size: 1.5rem;
    
    box-shadow: 0 6px 0 var(--white);
}

.button img{
    width: 5rem;
}

.button h2{
}

@media (max-width: 768px){
    .button{
        width: 26%;
        font-size: .8rem;
        padding: 1rem;
        gap: 1rem;
    }

    .button img{
        width: 3rem;
    }
}

@media (max-width: 390px){
    .button{
        width: 100%;
        font-size: .5rem;
        padding: .5rem;
        gap: 1rem;
    }

    .button img{
        width: 1.5rem;
    }
}