/* HERO SECTION */

.banner {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10%;
    margin-top: calc(3rem + 50px);
}

.bannerText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.banner h1 {
    color: var(--white);
    font-size: 5rem;
}

main span {
    color: var(--orange);
}

.banner p {
    font-size: 1.5em;
    color: var(--white);
    width: 60%;
}

.banner img {
    width: 40%;
}

/* LITTLE BUTTONS */

.little_buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}

/* PROBLEM */

.problem {
    color: var(--white);
    margin: 0 10%;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
}

.problem article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.problem img {
    width: 30%;
}

.problem h2 {
    font-size: 4rem;
}

.problem P {
    font-size: 2rem;
}

/* FEATURES */

.features {
    margin: 10rem 15% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    row-gap: 10rem;
    justify-items: center;
}

/* USER FLOW */
.user_flow {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.user_flow article,
div {
    display: flex;
    align-items: center;
}

.user_flow article {
    gap: 10rem;
    width: 80%;
    margin: 0 10%;
}

.user_flow div {
    width: min-content;
}


.user_flow img {
    width: 20%;
}

.user_flow span {
    color: var(--softBlue);
    font-size: 10rem;
    font-weight: bold;
}

.user_flow p {
    color: var(--white);
    font-size: 2rem;
    width: 25rem;
}

.user_flow span {
    padding: 0 5rem;
}

.flow2,
.flow4 {
    justify-content: end;
}


/* RESPONSIVIDADE TABLET*/

@media (max-width: 768px) {

    /* BANNER */

    .bannerText h1 {
        font-size: 3rem;
    }

    .bannerText p {
        width: 90%;
        font-size: 1.5rem;
    }

    /* LITTLE BUTTONS */

    .little_buttons {
        margin-top: 7rem;
    }

    /* PROBLEM */

    .problem {
        color: var(--white);
        margin: 0 10%;
        width: 80%;
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-top: 7rem;
    }

    .problem img {
        width: 40%;
    }

    .problem h2 {
        font-size: 3rem;
    }

    .problem P {
        font-size: 1.5rem;
    }

    /* FEATURES */
    .features {
        margin: 7rem 5% 0;
        column-gap: 3rem;
        row-gap: 3rem;
    }

    /* USER FLOW */

    .user_flow {
        gap: 2rem;
        margin-top: 7rem;
    }

    .user_flow article {
        gap: 2rem;
    }

    .user_flow p {
        font-size: 1.5rem;
        width: 20rem;
    }

    .user_flow span {
        padding: 0 2rem;
    }
}

/* RESPONSIVIDADE MOBILE*/

@media (max-width: 413px) {

    .banner img {
        display: none;
    }

    .bannerText h1 {
        font-size: 2rem;
    }

    .bannerText p {
        width: 100%;
        font-size: 1rem;
    }

    /* LITTLE BUTTONS */

    .little_buttons {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1.5rem;
        justify-items: center;
        margin: 3rem 10% 0;
    }

    .little_buttons> :last-child:nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
        width: fit-content;
        padding: .5rem 2rem;
    }

    /* PROBLEM */

    .problem {
        color: var(--white);
        margin: 0 5%;
        width: 90%;
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-top: 5rem;
    }

    .problem img {
        display: none;
    }

    .problem h2 {
        font-size: 2rem;
    }

    .problem P {
        font-size: 1rem;
    }

    /* FEATURES */
    .features {
        margin: 5rem 10% 0;
        display: flex;
        flex-direction: column;
    }

    /* USER FLOW */

    .user_flow {
        gap: 2rem;
        margin-top: 5rem;
    }

    .user_flow article {
        gap: 1rem;
    }

    .user_flow img {
        width: 6rem;
    }


    .user_flow p {
        font-size: .8rem;
        width: 10rem;
    }

    .user_flow span {
        font-size: 3rem;
        padding: 0 1rem;

    }


}