.button{
    background-color: var(--softBlue);
    color: var(--white);
    font-size: 1.5rem;


    min-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 1rem 3rem 4rem;
    gap: 3rem;
    align-items: center;
}

.button img{
    width: 5rem;
    column-rule: var(--orange);
}

.button p{
    width: 75%;
    font-size: 2rem;
}

.title{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .button{
        font-size: 1rem;
        gap: 1rem;
        padding: 1.5rem 1rem ;
        border-radius: 2rem;

    }

    .button p{
        font-size: 1rem;
        width: 80%;
    }

    .button img{
        width: 4rem;
    }
}

@media (min-width:768px) and (max-width: 1322px) {

    
    .title{
        justify-content: center;
        gap: .5rem;
    }

    .title h2{
        font-size: 1rem;
    }

    .button{
        font-size: 1rem;
        gap: .5rem;
        padding: 1.5rem .5rem ;
        border-radius: 1.5rem;
    }

    .button p{
        font-size: .8rem;
        width: 80%;
    }

    .button img{
        width: 2rem;
    }
}