.button{
    background-color: var(--softBlue);
    color: var(--white);
    font-size: x-large;

    width: 55%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 1rem 4rem 5rem;
    gap: 3rem;

    justify-content: space-around;
    align-items: center;
}

.button img{
    width: 5rem;
    column-rule: var(--orange);
}

.tittle{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}