.header {
    width: 100%;
    height: 50px;
    background-color: var(--softBlue);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a{
    text-decoration: none;
    color: aliceblue;
    padding-right: 1.5em;
}

.header span{
    font-weight: bold;
    color: var(--white);
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.pages span{
    font-size: 1.5rem;
    font-weight: normal;
}

