.footer{
    background-color: var(--softBlue);
    color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer span{
    font-weight: bold;
}