.footer{
    background-color: var(--softBlue);
    color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer h4{
    font-weight: bold;
}

.footer img{
    width: 1.5rem;
}

.menssage{
    display: flex;
    gap: .5rem;
}