.footer{
    background-color: var(--softBlue);
    color: var(--white);
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer h4{
    font-weight: bold;
}

.footer img{
    width: 1.5rem;
}

.menssage{
    display: flex;
    gap: .5rem;
}

@media (max-width: 413px){
    .footer{
        height: 20px;
    }

    .footer h4{
        font-size: .5rem;
    }

    .footer img{
        width: .5rem;
    }
}