.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error article{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error img{
    width: 20rem;
}

.error span{
    font-size: 30rem;
    font-weight: bold;
}

.error p{
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
}

